body {
    background-color: #F1F3F7;
}

#box-icons {
    margin: 0 20px 20px 20px !important;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

p#descriptext {
    font-size: 1.35em;
    margin-top: 55px;
}

#box-icons>.box {
    margin: 10px;
    flex: 1;
    background-color: white;
    min-width: 250px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    max-width: 300px;
    height: 475px;
    border: 1px solid #2e72a0;
}

.box>.supplier-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box>div>img {
    border-bottom: 1px solid #E5E9F0;
}

.supplier-info {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    padding: 10px;
    /** #2e72a0 **/
    /** #036eb7 **/
    /** #115a8c **/
    background-color: #115A8C;
    color: white;
    flex: 1;
}

.supplier-info>h3.supplier-name {
    font-size: 1.25em;
    margin: 10px 0 5px 0;
}

.supplier-info>p {
    margin: 5px 0;
}

.supplier-info>ul {
    margin: 5px 0 10px 0;
}

ul {
    list-style-type: none;
}

.box img {
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

header {
    width: 100vw;
    height: 400px;
    background: url("/img/contact.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

body {
    background-color: #F1F3F7;
}

header h1 {
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 17px black;
}

header>#descrip {
    font-size: 1.25em;
    text-align: center;
    text-shadow: 0 0 17px black;
}

#box-icons {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    /*background-color: aqua;*/
    justify-content: center;
    position: relative;
    /* column-gap: 40px; */
}

#box-icons>.box {
    margin: 10px;
    flex: 1;
    background-color: white;
    min-width: 250px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    max-width: 300px;
    border: 1px solid #2e72a0;
}

.box>.supplier-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box>div>img {
    border-bottom: 1px solid #E5E9F0;
}

.supplier-info {
    background-color: #115A8C;
    color: white;
    flex: 1;
    align-items: center;
}

ul {
    list-style-type: none;
}

.box img {
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img#duplogo {
    border-radius: 15px;
}

.sup-text {
    font-size: 1.5em;
    text-align: left;
    padding-top: 5px;
    color: rgb(0 22 103);
    float: left;
}

.sup-text a {
    color: rgb(0 22 103);
    text-decoration: underline;
}

.supplier-info a {
    color: white;
}

body > #vid {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
}

body > #vid > #vid-text > a{
    text-decoration: underline;
    font-size: 1.25em;
    color:#115A8C !important;
    text-align: center;
}

/*Media Queries*/

@media(max-width: 550px) {
    #box-icons .box {
        margin-left: 5px;
        max-width: 90%;
        text-align: center;
    }

    table{
        width: 90%;
    }

    .supplier-info>h3.supplier-name {
        font-size: calc(5.5vw + 2px);
    }

    .overlay-text{
        font-size: calc(3.6vw + 2px);
    }

    .mid{
        margin: 7px;
        padding: 5px;
    }
}