/** Bootstrapping **/

:root {
    font-family: Arial, Helvetica, sans-serif;
    --nav-background: #8c928d;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
hr,
p {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 60px;
}

/*
 * Navbar
 */

nav {
    display: flex;
    flex-flow: row;
    align-items: center;
}

nav>.nav-group {
    display: flex;
    flex-flow: row;
}

/*first-child selector: targets the left part of the nav bar (aka the first child of the parent, nav)*/
nav>.nav-group:first-child {
    padding-left: 40px;
}

/*targets the right part of the nav bar*/
nav>.nav-group:last-child {
    padding-right: 40px;
}

nav>ul.nav-group {
    list-style: none;
}

nav>ul.nav-group>li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


/** Expand nav-group-grow **/

nav>.nav-group.nav-group-grow { /*references the 2nd class in the left part of nav bar*/
    flex: 1;
}


/** Nav spacing **/

nav .nav-btn {
    padding: 20px 20px;
}


/** Darken button on hover, show pointer **/

nav .nav-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

/*nav .nav-btn a,*/
nav a.nav-btn {
    color: white;
    text-decoration: none;
}


/*
 * Main Navbar implementation
 */

nav#main-nav {
    background-color: #262f31;
    height: 59px;
    border-bottom: 1px solid black;
    top: 0;
    width: 100vw;
    position: fixed; /*prevent nav bar movement when scrolling*/
    z-index: 1000; /*brings nav bar forward*/
}

nav>.nav-group>#nav-logo>a {
    display: inline-block;
}

/* TEMPORARY HIGHLIGHT*/
.highlight {
    color: #0e84ce;
    font-weight: bold;
}


/*Footer*/

body>footer#main-footer {
    display: flex;
    flex-flow: row;
    padding: 20px 30px;
    background-color: #303030;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/* Menu icon for mobile */
.checkbtn{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    line-height: 80px;
    margin-right: 20px;
}

.checkbtn, #check{
    display: none;
}

/*Media Queries*/


@media (max-width: 700px) {
    .checkbtn{
        display: inline-block;
    }

    nav>.nav-group.hidden-menu{
        position: fixed;
        background: #303030;
        width: 100%;
        height: 50vh;
        top: 60px;
        left: -150%;
        justify-content: center;
        flex-flow: column;
        
        transition: all 0.8s;
    } 

    nav a.nav-btn {
        font-size: 1.4em;
    }

    .nav-group:first-child {
        padding-left: 10px !important;
    }

    nav .nav-btn:hover {
        background: none;
        color: #0e84ce;
    }

    /*both ul's are siblings of #check; 
      but this is looking for ul sibling of #check that comes after #check*/
    #check:checked ~ ul.nav-group.hidden-menu{ 
        left: 0; /*when "checked", the nav links will transition into place*/
    }
}

/*Supplier Pages charts*/
[data-theme=dangerous] {
    background-color: #C90C06;
}

[data-theme=dangerous] .tippy-arrow {
    color: #C90C06 !important;
}

[data-theme=caution] {
    background-color: #F59112;
}

[data-theme=caution] .tippy-arrow {
    color: #F59112 !important;
}