/*
 * Jumbotron
 */

.landing-container {
    height: calc(50vh - 59px);
    width: 100vw;

    background-image: url('/img/Ocean.jpg');

    display: flex;
    flex-flow: row;
    
    align-items: center;
    justify-content: center;

    position: relative;

    border-bottom: 1px solid black;
}

.landing-container > .landing-backdrop {
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.landing-container > .landing-cta {
    font-size: 4em;
    font-weight: 400;
    z-index: 1;
}

/*
 * Main content
 */

#home-content {
    display: flex;
    flex-flow: column;
    
    padding: 20px 40px;
    max-width: calc(100vw - 300px);
    min-height: 50vh;

    margin: 0 auto;
}

#home-content > header {
    text-align: center;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    margin-bottom: 20px;
    padding-bottom: 20px;
}

#home-content > header > h1.home-title {
    --home-font-size: 2em;

    font-size: var(--home-font-size);

    font-weight: 500;
}

main {
    display: flex;
    flex-flow: row;
    column-gap: 10px;
    height: 200px;
}

main > .side-content {
    flex: 0.75;
}

main > .home-paragraph {
    flex: 1;
}

@media screen and (max-width: 800px) {
    main {
        flex-flow: column;
    }
}

/**
 * Carousel
 */

.carousel {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    height: 50vw;
    max-height: 600px;
    min-height: 330px;

    position: relative;
}

.carousel > .slick-list {
    flex: 1;
    height: 100%;
}

.carousel > .slick-list > .slick-track, .carousel > .slick-list > .slick-track > * {
    height: 100%;
}

.carousel > .slick-list > .slick-track > :nth-child(2n) {
    background-color: red;
}

.carousel > .slick-list > .slick-track > :not(:nth-child(2n)) {
    background-color: blue;
}

.carousel > .slick-arrow {
    --inset: 10px;

    position: absolute;
    width: 25px;
    height: 25px;

    font-size: 0;

    border: 0;
    border-radius: 50%;

    z-index: 100;

    cursor: pointer;

    margin-top: -3px;

    background: none;
}

.carousel > .slick-arrow:focus {
    outline: none;
}

.carousel > .slick-arrow::before {
    display: block;
    font-size: 36px;
    color: white;
    line-height: 1;
    text-shadow: 0 0 7px black;
}

.carousel > .slick-prev {
    left: var(--inset);
}

.carousel > .slick-prev::before {
    content: '\2039';
}

.carousel > .slick-next {
    right: var(--inset);
}

.carousel > .slick-next::before {
    content: '\203A';
    margin-right: -2px;
}

@media screen and (max-width: 750px) {
    #home-content {
        max-width: calc(100vw - 100px);
    }
}