iframe {
    height: calc(100vh - 60px);
    width: 50vw;
    margin: 5px;
    border: 1.5px solid #2e72a0;
    border-radius: 10px;
}

body {
    background-color: #c3c7cf;
}

body > header{
    text-align: center;
    width: 100vw;
    height: 400px;
    /**
    background: url("/img/suppback2.jpg");
    background-size: cover;
    background-position: center;
    **/
    background: url("https://www.greenbiz.com/sites/default/files/images/articles/featured/shutterstock1109708624.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-bottom: 2px solid black;
    
}

header h1{
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

header > #descrip{
    font-size: 1.25em;
    text-align: center;
}

body > #map-container{
    display: flex;
    flex-flow: row;
}

body > #map-container > #map-info{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 125px;

    background-color: #115A8C;
    width: 50%;
    height: 300px;
    margin-top: 150px;
}

#map-info:hover{
    opacity: 0.9;
}

body > #map-container > #map-info > .map-text{
    font-size: 1.25em;
    text-align: center;
    padding-top: 20px;
    color: white;
}

img{
    width: 20%;
}

@media(max-width: 569px) {   /*not working at the moment*/
    body > #map-container{
        display: none;
        flex-flow: column;
        align-items: center;
    }

    body > #map-container > #map-info{
        margin-left: 5px;
        max-width: 90%;
        text-align: center;
    }

    body > #map-container > #map{
        margin-left: 5px;
        max-width: 90%;
        text-align: center;
    }
}   