iframe {
    border: 1.5px solid #2e72a0;
    border-radius: 10px;
}

body {
    background-color: #c3c7cf;
}

body > header{
    text-align: center;
    width: 100vw;
    height: 200px;
    /**
    background: url("/img/suppback2.jpg");
    background-size: cover;
    background-position: center;
    **/
    background: url("/img/suppback3.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-bottom: 2px solid black;
    
}

header h1{
    font-size: 4em;
    font-weight: 400;
    text-align: center;
}

header > #descrip{
    font-size: 1.25em;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

body > #map-container{
    --spacing: 10px;

    display: flex;
    flex-flow: row;

    padding: var(--spacing);
    column-gap: var(--spacing);
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

#map {              /*map size*/
    flex: 1;
    display: flex;
    flex-flow: column;
    min-height: 450px;
    padding: 10px;
}

#map > iframe {
    width: 100%;
    height: 100%;
    flex: 1;
}

#map-info:hover{
    opacity: 0.9;
}

#map-info > .map-text{
    font-size: 1em;
    text-align: center;
    color: white;
}

.map-text.map-text-lg {
    font-size: 1.5em !important;
}

img#duplogo{
    width: 100%;
}

@media(max-width: 569px) {   
    body > #map-container{
        flex-flow: column;
        align-items: center;

        column-gap: unset;
        row-gap: var(--spacing);
    }

    body > #map-container > #map-info{
        text-align: center;
    }

    body > #map-container > #map{
        text-align: center;
        width: 100%;
    }

    #map > iframe {
        min-height: 500px;
    }
}   