header{
    width: 100vw;
    height: 60vh;

    background: url("/img/suppimg.jpg") no-repeat center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-bottom: 2px solid black;
}

header h1{
    font-size: 4em;
    font-weight: 400;
    text-align: center;
}

header > #descrip{
    font-size: 1.25em;
    text-align: center;
}

#box-icons{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;

    /*background-color: aqua;*/
    justify-content: center;
    position: relative;

}
#box-icons > .box{
    margin: 10px;
    width: 25%;
    background-color: #808080;

    text-align: center;
    text-decoration: none;
    overflow: hidden;

    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: azure;
}

#box-icons > .box > div > h3.supplier-name{
    font-size: 1.25em;
}

ul { 
    list-style-type: none;
}

.box img{
    width: 100%;
    border-radius: 10px;
}

@media(max-width: 768px) {
    #box-icons{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #box-icons .box{
        margin-left: 5px;
        width: 90%;
        text-align: center;
        
    }

    .box img{
        max-width: 50%;
        max-height: 50%;
    }
}