main#main-content {
    min-height: calc(100vw - 60px);
}

body {
    background-color: #F1F3F7;
}

#supplier-heading {
    --spacing: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing) 0;
}

#supplier-heading> :first-child {
    padding-bottom: var(--spacing);
}

#supplier-heading>img {
    height: 200px;
}

#supplier-heading>hr {
    width: 100%;
}

.counties-container {
    display: flex;
    flex-flow: column;
}

.county-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.county-container:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.county-container>.systems-container {
    width: 100%;
    padding-top: 40px;
    max-width: calc(100vw - 200px);
}

.county-container>h2 {
    font-size: 2em;
}

.system-link-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 25px;
    width: fit-content;
    max-width: 80vw;
}

.system-link-container>a {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .county-container>.systems-container {
        max-width: 100vw;
    }
    .system-container {
        border-radius: unset !important;
        border-left: unset !important;
        border-right: unset !important;
        padding: 40px 0 !important;
    }
}

.system-container {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    row-gap: 20px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
}

.chart-container {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 50px 40px 40px 40px;
}

.source-container {
    margin-top: -60px;
    padding: 0 90px 40px 90px;
    text-align: right;
    z-index: 100;
}

.color-legend {
    position: absolute;
    top: 15px;
    right: 40px;
    display: flex;
    flex-flow: row;
    column-gap: 15px;
    list-style: none;
}

.color-legend>.legend-item::after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--legend-color);
    margin-left: 5px;
}

.system-container>* {
    flex: 1;
}

.system-container>.system-info {
    background-color: #245894;
    color: white;
    padding: 40px;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.system-name {
    text-decoration: none;
    font-size: 1.5em;
    margin-bottom: 10px;
}

div[name=chart] {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    grid-auto-rows: 1fr;
    padding-bottom: 20px;
    padding: 0 40px 40px 40px;
    position: relative;
}

div[name=chart] svg {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@media screen and (max-width: 1100px) {
    div[name=chart] {
        grid-template-columns: minmax(0, 1fr);
        padding: 0;
        grid-auto-rows: minmax(0, 1fr);
    }
}

.stat-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    /*height: 100%;*/
    position: relative;
}

.stat-container>.stat-info {
    padding-bottom: 10px;
    flex: 1;
}

.stat-info>.stat-name {
    padding-bottom: 5px;
    text-align: center;
}

svg>g:last-child:not(:only-child)>g:only-child {
    pointer-events: none;
}

/*Media Queries*/

@media (max-width: 550px) {
    .color-legend>.legend-item::after {
        margin-right: 15px;
    }

    .source-container{
        margin-top: 0;
        padding: 0 7vw;
    }
}