header{
    width: 100vw;
    height: 500px;

    background: url("/img/suppback2.jpg") no-repeat 0 -50px;
    background-size: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-bottom: 2px solid black;
}

body {
    background-color: #F1F3F7;
}

header h1{
    font-size: 4em;
    font-weight: 400;
    text-align: center;
}

header > #descrip{
    font-size: 1.25em;
    text-align: center;
}

#box-icons{
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;

    /*background-color: aqua;*/
    justify-content: center;
    position: relative;

    /* column-gap: 40px; */
}

#box-icons > .box{
    margin: 10px;
    flex: 1;
    background-color: white;
    min-width: 250px;

    text-align: center;
    text-decoration: none;
    overflow: hidden;

    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    max-width: 300px;

    height: 480px;

    border: 1px solid #E5E9F0;
}

.box > div > img {
    border-bottom: 1px solid #E5E9F0;
}

.box > div > *:not(img) {
    padding: 0 10px;
}

#box-icons > .box > div > h3.supplier-name{
    font-size: 1.25em;
    margin: 10px 0 5px 0;
}

#box-icons > .box > div > p {
    margin: 5px 0;
}

#box-icons > .box > div > ul {
    margin: 5px 0 10px 0;
}

ul { 
    list-style-type: none;
}

.box img{
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

@media(max-width: 569px) {
    /* #box-icons{
        display: flex;
        /* flex-flow: column; */
        /* align-items: center; 
    }*/

    #box-icons .box{
        margin-left: 5px;
        max-width: 90%;
        text-align: center;
        
    }

    .box img{
        /* max-width: 50%; */
        /* max-height: 50%; */
    }
}