<ul class="nav-group nav-group-grow">
    <li id="nav-logo">
        <a href="/">
            <img width="40" src="/img/Logo.png" />
        </a>
    </li>
    <li>
        <a href="/">
            <img width="150" src="/img/title.png">
        </a>
    </li>
</ul>
<ul class="nav-group">
    <li>
        <a class="nav-btn" href="/">
            Home
        </a>
    </li>
    <li>
        <a class="nav-btn" href="/suppliers">
            Water Suppliers
        </a>
    </li>
    <li>
        <a class="nav-btn" href="/map">
            Map
        </a>
    </li>
    <li>
        <a class="nav-btn" href="/contact">
            Contact
        </a>
    </li>
</ul>