<ul class="nav-group nav-group-grow">
    <li id="nav-logo">
        <a href="/">
            <img width="40" src="/img/Logo.png" />
        </a>
    </li>
    <li>
        <h1 class="nav-brand">
            <a href="/">
                <img width="180" src="/img/watertitle.png">
            </a>
        </h1>
    </li>
</ul>
<ul class="nav-group">
    <li>
        <a class="nav-btn" href="/">
            Home
        </a>
    </li>
    <li>
        <a class="nav-btn" href="/suppliers">
            Water Suppliers
        </a>
    </li>
    <li>
        <a class="nav-btn" href="/map">
            Map
        </a>
    </li>
    <li>
        <a class="nav-btn" href="/contact">
            Contact
        </a>
    </li>
</ul>