
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
  
#regtext {
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    z-index: 999;
}

/* Navbar links */
#navc a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
    width: 180px; 
}

#navc :hover {
    background-color: black;
}

#navlogoc {
    float: left;
    margin: 0px;
    padding-top: 10px;
}

#navlogoc a {
    color: #f2f2f2;
    padding-bottom: 30px;
    padding-left: 10px;
    width: 180px; 
}

#navlogo {
    margin: 0px;
    padding: 0px;
    height: 60px;
}

#navicon {
    padding-left: 15px;
    padding-right: 5px;
    height: 45px;
}

#landingimg {
    height: 500;
    width: 100%;
}

#landingTitle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
}

#infoimg {
    height: 200;
    width: 100%;
}

#infoTitle {
    position: absolute;
    top: -10px;
    font-size: 90px;
    width: 100%;
    text-align: center;
}

#subtitle {
    font-size: 60px;
    margin-top: 30px;
}

#infoHeader {
    font-size: 40px;
    margin-top: 0px;
    padding-left: 10%;
    margin-bottom: 2px;
}

#infoSubheader {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: yellow;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000000;
}

#graphHeader {
    font-size: 30px;
    margin-top: 51px;
    margin-bottom: 3px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(72, 255, 0);
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000000;
}

#graph {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    height: 400px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
}

#graph #axis {
    float: left;
    width: 100px;
    height: 400px;
}

#graph #axis p {
    width: 100%;
    margin-top: 150px;
    padding-top: 25;
    padding-bottom: 25;
    background-color: green;
    text-align: center;
    color: white;
}

#graph #barspace {
    width: 70px; 
    height: 400px; 
    float: left; 
    margin-left: 30px;
}

#graph #bar {
    border-radius: 17px;
}

#graph #bar a {
    display: block;
}

div #bar :hover {
    border: 2px solid #000000;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

#footer {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #333;
    height: 50px;
}

#footerText {
    position: relative;
    top: 35%;
    left: 10%;
    font-size: 15px;
}